<title>feedback</title>

<div id="comment_table">
	{{#if feedback}}
		<div class="content-section">
			{{> errors errors}}
			{{#if dbErrorOccurred}}
				<p class="admin_top">Can't display the page now, try again later.</p>
			{{/if}}

			<p class="username">Posted By: {{feedback.username}}</p>
			<div class="feedback">					
				<p class="title">TITLE: {{feedback.title}}</p>
				<p class="title">GAME: {{feedback.game}}</p>
				<p class="title">COMMENT: {{feedback.content}}</p>
			</div>

		</div>

		
		<div id= "section-space">
			{{#if isLoggedIn}}
        		<div id="user_section">
					{{#if errors.length}}
						{{#each errors}}
							<p class="login_error_msg">{{this}}</p>
						{{/each}}
					{{/if}}
					<p class="username">Comment As {{feedback.username}}</p>
					<form action="/comment/{{feedback.id}}/create" method="POST">
						<div id="comment_textarea">
							<input type="hidden" name="_csrf" value="{{csrfToken}}">
							<div id="textarea">
								<p class="title">Comment:</p>
									<textarea class="comment_textarea" type="text" name="content" rows="6" cols="60" >{{comment.content}} </textarea>
									<input class="submit_comment_btn" type="submit" name="create-btn" value="POST">
							</div>
						</div>
					</form>
				</div>
    		{{/if}}
		</div>
		<div class="content-section">
			{{#if comments.length}}
				{{#each comments}}
				<div class="comment_area">
					<p class="title">{{username}}</p>
					<p class="the_comment">{{content}}</p>
				</div>
				{{/each}}
			{{else}}
				<p class="title">!!! Theres No Comments To Be Found !!!</p>
			{{/if}}
		</div>
			
	{{else}}
		<p>No post with that ID exists</p>
	{{/if}}

</div>