
<title>Feedbacks</title>
{{#if dbErrorOccurred}}
    <p class="admin_top">Can't display the page now, try again later.</p>
{{else}}
    {{#if isLoggedIn}}
        <p class="creat"><a href="/feedbacks/newFeedback/{{user.id}}">✎Post A Feedback</a></p>
    {{/if}}
    <p class="feedbacks_top">FEEDBACKS:</p>
    {{#if feedbacks.length}}
        <div class="displayed_list">
            {{#each feedbacks}}
                <p><a href="/feedbacks/{{id}}" class="id_name">{{title}} || {{game}}</a></p>
            {{/each}}
        </div>
    {{else}}
        <p class="no-content">Theres no Comments</p>
    {{/if}}
{{/if}}
